*{
    margin: 0px ;
    padding: 0px ;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.main-header{
    background-color: #EAC926;
    padding: 20px;
    width: 100%;
}

.banner {
    width: 100vw;
}

.logo {
    width: 50%;
}

.copy-header {
    font-size: 12px;
    text-align: right;
    margin-bottom: 10px;
    width: 100%;
}

.barra-lupa {
    margin: 10px;
    width: 50%;
}

.hamburguer-button {
    background-color: #03264C;
    color: white;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}


h2 {
    font-size: 12px;
}

h3 {
    margin: 10px;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 12px;
}

main {
    width: 90vw;
    margin: center;
}

main section article {
    text-align: center;
    margin: 10px;
}

.descuento-articulo {
    color: #39b54a
}

.contenedor {
    border-top: 1px solid #ebebeb;
    padding: 15px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

footer {
   text-align: center;
   width: 100vw
}

footer ul li{
    margin-top: 50px;
    margin-bottom: 50px;
 }

.footer-h2-bottom {
    text-align: left;
    margin-left: 30px;
}

.footer-iconos {
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px
}

.footer-h2 {
    font-size: 18px;
}


main section article i {
    display: block ;
    font-size: 16px ;
    padding: 5px ;
    width: 30px ;
    height: 30px ;
    border: 1px solid #39b54a ;
    background-color: #FFF ;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: #39b54a;
    }
.articulos-imagen {
    width: 100%;
}

body form div {
    margin: auto;
    margin-top: 20px;
    text-align: left;
    width: 40%;
    padding: 10px;
    background-color: whitesmoke;
    font-style: Roboto;
    font-size: 14px;
    font-weight: 100;

}

@media (min-width: 361px){

    
    .main-navbar {
        display: none;
    }

    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        margin: auto;
        }

    main section div.productos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    main section div.productos article {
       width: 90%;
    }

    .descripcion-articulo {
        display: none;
    }

    .copy-header {
        margin-bottom: 10px;
    }

}

@media (min-width: 769px){

    .main-header-top-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hamburguer-button {
        display: none;
    }

    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        }

    main section div.productos article {
            width: 90%;
         }
    .descripcion-articulo {
            display: contents;
        }

    .main-navbar {
            display: flex;
            justify-content: space-between;

        }

    .main-navbar ul {
        display: flex;
    }

    .main-navbar li {
        margin: 0 5px;
    }


    .ultima-visita {
        display: flex;
        justify-content: space-between;
    }

    .ofertas {
        display: flex;
        justify-content: space-between;
    }


    footer ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style:none
    }

    footer ul li {
        width: 30%;
        display: flexbox;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-around;
    }

   
}